{% extends 'registration/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block body %}
<h1 id="christian">Forgot your passwords?</h1>  
<div id="p_reset_form">
  
  <p>Enter your email address below, and we'll email<br>
    instructions for setting a new one.</p>
  
  <form action="{% url 'password_reset_sent' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Send me instructions!">
  </form>
  </div>
{% endblock %}


{% block script %}
{% endblock %}